.video-section {
    display: flex;
    align-items: center;
    margin-bottom: -5px; /* Add space between video sections */
}

.video-header {
    flex: 0 0 200px; /* Fixed width for the video name section */
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin-right: -30px; /* Add some space between the video name and image list */
    margin-left: 30px;
}

.scroll-container {
    flex-grow: 1; /* This makes the scroll container take up the remaining space */
    overflow-x: auto;
    white-space: nowrap;
}

.image-item {
    display: inline-block;
    margin: 10px;
    text-align: center;
    max-width: 150px;
}

.image-item img {
    width: 150px;  /* Fixed width */
    height: auto;
    display: block;
    transition: transform 0.3s ease;
    cursor: zoom-in;
}

.image-caption {
    margin-top: 5px;
    font-size: 14px;
    color: #555;
}

.zoom-fullscreen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(8);
    z-index: 1000;
    cursor: zoom-out;
    max-width: 90vw;
    max-height: 90vh;
}


.dark-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}